.Blogs{
     background: #fff;
}
.blogs{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card{
     background: #ededed;
     padding: 0.9rem 0.9rem 2.1rem 0.9rem;
     border-radius: 12px;
     overflow: hidden;
     &:hover .cardImg img{
          transform: scale(1.05);
     }
}
.cardImg img{
     transform: scale(1);
     transition: 0.21s ease-in-out;
}
.cardImg{
     border-radius: 6px;
     overflow: hidden;
}
.cardTitle{
     margin-top: 0.3rem;
}
.cardContent{
     padding-block: 0.3rem 0rem;
}