.projects{
     width: 100%;
}
.projectTabs{
     display: flex;
     margin-top: 1.5rem;
     background: var(--secondary-color-300);
     gap: 1.2vw;
}
.projectTabs button{
     padding: 1.2rem;
     cursor: pointer;
}
.tab{
     border: none;
     background: none;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
}
.tab.active{
     background: var(--secondary-color);
     border: 1px solid #ccc9;
     border-bottom: none;
     z-index: 50;
}
.galleryImages{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
     background: var(--secondary-color);
     padding: 0.6rem;
     border: 1px solid #ccc9;
     margin-top: -3px;
}
.galleryImage{
     position: relative;
     background: var(--secondary-color-500);
     object-fit: cover;
     padding: 10px;
     overflow: hidden;
     transform: scale(1);
     transition: 0.21s ease;
     cursor: pointer;
     &:hover{
          transform: scale(1.05);
     }
}
.galleryImage img{
     border-radius: 6px;
}